.App {
  min-height: 100vh;
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: thin solid lightcoral;
  padding: 9px 20px;
  color: white;
}

.recipes {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .recipes {
    width: 800px;
  }
}
